@model MvcCv.Models.TblEducation

@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Eğitim Güncelleme Ekranı</h3>
<br />

<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Altbaşlık-1</label>
    @Html.TextBoxFor(x => x.SubTitle1, new { @class = "form-control" })
    <br />

    <label>Altbaşlık-2</label>
    @Html.TextBoxFor(x => x.SubTitle2, new { @class = "form-control" })
    <br />

    <label>GPA</label>
    @Html.TextBoxFor(x => x.GPA, new { @class = "form-control" })
    <br />

    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Eğitimi Güncelle</button>
</form>