@model List<MvcCv.Models.TblAbout>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkımda Düzenleme Sayfası</h3>
<br />

<form method="post" class="form-group">
    @foreach (var item in Model)
    {
        <label>Resim</label>
        <input type="text" name="Image" value="@item.Image" class="form-control" />
        <br />

        <label>Ad</label>
        <input type="text" name="Name" value="@item.Name" class="form-control" />
        <br />

        <label>Soyad</label>
        <input type="text" name="Surname" value="@item.Surname" class="form-control" />
        <br />

        <label>Adres</label>
        <input type="text" name="Address" value="@item.Address" class="form-control" />
        <br />

        <label>Telefon</label>
        <input type="text" name="Phone" value="@item.Phone" class="form-control" />
        <br />

        <label>Mail Adresi</label>
        <input type="text" name="Email" value="@item.Email" class="form-control" />
        <br />
    }

    <button class="btn btn-primary">Güncelle</button>
</form>